.panel.panel-default
  .panel-heading= "Профиль #{@user.email}"
  .panel-body
    = form_for @user, method: :put do |f|
      .row
        .col-md-12
          .form-group
            = f.label 'Rucaptcha key'
            = f.text_field :rucaptcha_key, class: "form-control"
      %hr
      = f.submit "Сохранить", class: "btn btn-success"
      =# link_to 'Отмена', root_path, class: "btn btn-secondary"

